<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to our Site</h1>
    This is the welcome page => describes what we do and our features
    <br>
    <br>
    <br>
    how to create:
    <br>
    append the page name you wish to the url.
    <br>
    eg. http://localhost:3000/examplePage

    <br>
    <br>
    already existing pages:
    <br>
    Page name: /hello  Password: hello
    <br>
    Page Name: /tester  Password:123
  </body>
</html>
