<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Looks like page already Exists.</h1>
    <h3>Enter password to join</h3>
    <%=comment%>
    <form action="<%=destination%>" method="post">
      <input type="text" name="username" placeholder="Your Name">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" name="submit" value="Login">
    </form>
  </body>
</html>
